<a href="https://colab.research.google.com/github/safaec/Jedha_project/blob/main/Explore_a_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploring a database

Let's practice on Pandas. Download the dataset `chipotle.csv` from JULIE and upload it to your workspace.

In [13]:
#Import a library that allows to read data from a csv file

import pandas as pd
import re

In [29]:
#Import the dataset

dataset = pd.read_csv("/content/sample_data/chipotle.csv", index_col=0)

In [60]:
#Look at the 10 first rows in the dataset

dataset.head(10)

,order_id,quantity,item_name,choice_description,item_price,revenu
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25

In [5]:
#What is the shape of the dataset ?

dataset.shape

(4622, 5)

In [ ]:
#Display all the columns of our dataset

dataset.columns

In [ ]:
#What is the most ordered item?

display((dataset.groupby('item_name').sum()).sort_values(by='quantity', ascending=False).head(10))

In [16]:
#How many items were ordered from Chipotle in total?

display(dataset['quantity'].sum())

4972

8. How much revenue has Chipotle made?

In [49]:
#Convert item_price to a decimal number.
dataset = pd.read_csv("/content/sample_data/chipotle.csv", index_col=0)
print(dataset['item_price'].dtype)
dataset['item_price'] = dataset['item_price'].str.replace('[^\d\.]', '').astype(float)
print(dataset['item_price'].dtype)
dataset.head()

object
float64

<ipython-input-49-7ad46090d765>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['item_price'] = dataset['item_price'].str.replace('[^\d\.]', '').astype(float)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [54]:
#Multiply the quantity sold by the price of the item.
dataset['revenu']=dataset['quantity'] * dataset['item_price']
dataset.head()

,order_id,quantity,item_name,choice_description,item_price,revenu
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [59]:
#Add it all up, how much do you find? (Round to two decimal places.)

total_revenu = round(sum(dataset['revenu']),2)
total_revenu

39237.02

In [88]:
#What is the average revenue per order?

total_order = dataset['order_id'].nunique()
avg_qti_order = sum(dataset['quantity'])/dataset['order_id'].nunique()
avg_item_price = sum(dataset.groupby('item_name')['item_price'].mean())/dataset['item_name'].nunique() #mean because the item appears more than 1 time
avg_revenu_order =total_revenu/dataset['order_id'].nunique()

print('ther is {} order in total'.format(total_order))
print('The average quantity per order is {}'.format(avg_qti_order))
print('the total revenue is {}'.format(total_revenu))
print('The average item price is {}'.format(avg_item_price))
print('The average revenue per order is {}'.format(avg_revenu_order))

ther is 1834 order in total
The average quantity per order is 2.711014176663032
the total revenue is 39237.02
The average item price is 7.607253617376458
The average revenue per order is 21.39423118865867