<a href="https://colab.research.google.com/github/safaec/Jedha_project/blob/main/Manipulate_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

In [1]:
#Store this list in a variable we'll call michel
michel = ["Hello", "I", "Michel", "am"]

In [2]:
#Make a loop so that the console returns each of the items in the list
for i in michel:
  print(i)

Hello
I
Michel
am

We have a problem with this sentence, two words are reversed. Find a way to invert the last item with the next-to-last item...

In [7]:
michel[2],michel[3] = michel[3], michel[2]
michel

['Hello', 'I', 'am', 'Michel']

Here's a list of ages: [12, 16, 34, 58, 9].

In [8]:
#Store this age list in a variable that we'll call: 
age=[12, 16, 34, 58, 9]

In [10]:
#We would like this list to be arranged in ascending order, how do we do that?
age.sort()
age

[9, 12, 16, 34, 58]

# Dictionaries

In [29]:
import requests
request = requests.get("https://swapi.dev/api/people/1/")
dic = request.json()

3. See what's in the dictionary via a loop

In [14]:
for key in dic.keys():
  print(key)

name
height
mass
hair_color
skin_color
eye_color
birth_year
gender
homeworld
films
species
vehicles
starships
created
edited
url

In [15]:
for value in dic.values():
  print(value)

Luke Skywalker
172
77
blond
fair
blue
19BBY
male
https://swapi.dev/api/planets/1/
['https://swapi.dev/api/films/1/', 'https://swapi.dev/api/films/2/', 'https://swapi.dev/api/films/3/', 'https://swapi.dev/api/films/6/']
[]
['https://swapi.dev/api/vehicles/14/', 'https://swapi.dev/api/vehicles/30/']
['https://swapi.dev/api/starships/12/', 'https://swapi.dev/api/starships/22/']
2014-12-09T13:50:51.644000Z
2014-12-20T21:17:56.891000Z
https://swapi.dev/api/people/1/

In [16]:
for item in dic.items():
  print(item)

('name', 'Luke Skywalker')
('height', '172')
('mass', '77')
('hair_color', 'blond')
('skin_color', 'fair')
('eye_color', 'blue')
('birth_year', '19BBY')
('gender', 'male')
('homeworld', 'https://swapi.dev/api/planets/1/')
('films', ['https://swapi.dev/api/films/1/', 'https://swapi.dev/api/films/2/', 'https://swapi.dev/api/films/3/', 'https://swapi.dev/api/films/6/'])
('species', [])
('vehicles', ['https://swapi.dev/api/vehicles/14/', 'https://swapi.dev/api/vehicles/30/'])
('starships', ['https://swapi.dev/api/starships/12/', 'https://swapi.dev/api/starships/22/'])
('created', '2014-12-09T13:50:51.644000Z')
('edited', '2014-12-20T21:17:56.891000Z')
('url', 'https://swapi.dev/api/people/1/')

In [31]:
print("{} is {} cm tall and weighs {} kg. She was born in {}.".format(dic['name'], dic['height'], dic['mass'], dic['birth_year']))

Luke Skywalker is 172 cm tall and weighs 77 kg. She was born in 19BBY.

# Slices

 We have the following dataset: ` kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]`
 
    1. This variable represents a list of kilometres travelled every morning by 8 users to work.
    2. Using a loop, calculate the total average of all the users' trips

In [32]:
kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]

In [33]:
list_lenght = len(kilometres_travelled)
sum_km = 0

for km in kilometres_travelled:
  sum_km +=km

average_km = sum_km / list_lenght

print('On average, users travelled {} km to get to work.'.format(average_km))

On average, users travelled 156.0 km to get to work.